- show_mini = false

.row
  .span1 &nbsp;
  .span8
    %center
      %h1
        %form
          %input.searchbox{:type => 'text', :value => "find your gif", :placeholder => ""}
      %h1 ... or ...
      %h1.instruction-top learn to URL Search
    %ul.tabs
      %li.span6
        .instruction get a "popcorn" gif
        %a.popovers{:html => 'true', :title => "Conan mashes popcorn", "data-content" => "<img id='popgif' src='http://gifurl.com/popcorn.gif'/>", 'width' => '10', :onmouseover => "$('.samplegif img').attr('src',
          'http://gifurl.com/popcorn.1.gif')"}
          http://gifurl.com/popcorn.gif
      %li.span6
        .instruction get a gif about a dog and bacon
        %a.popovers{:html => 'true', :title => "Dog likes Bacon", "data-content" => "<img id='popgif' src='http://gifurl.com/dog+bacon.gif'/>", :onmouseover => "$('.samplegif img').attr('src',
          'http://gifurl.com/dog+bacon.gif')"}
          http://gifurl.com/dog+bacon.gif
      %li.span6
        .instruction browse Listing Page
        %a{:onmouseover => "$('.samplegif img').attr('src',
          'http://gifurl.com/creepy.gif')"}
          http://gifurl.com/creepy
      %li.span6
        %a{:onmouseover => "$('.samplegif img').attr('src',
          'http://gifurl.com/hug.gif')"}
          http://gifurl.com/hugs
      %li.span6
        .instruction add (and rehost) a GIF by URL
        %a{:onmouseover => "$('.samplegif img').attr('src',
          'http://gifurl.com/http://i.imgur.com/iBm64.gif')"}
          http://gifurl.com/http://a.com/b.gif
      %li.span6
        .instruction access your Stash
        %a{:onmouseover => "$('.samplegif img').attr('src',
          'http://gifurl.com/hug.gif')"}
          http://yourname.gifurl.com/

  .span5.sidebar
    %h2 newest gifs
    %ul.biglist
      - @newfive.each do |gif|
        %li
          %a.popovers{href: gif.gif.url, html: 'true',
             title: "<div class='tagtitle'>#{gif.title}: </div>#{gif.tag_ids.inject(''){|s, tag| s+= '<div class="label labeltag success">'; s+= tag; s+= '</div>'}}",
             'data-content' => "<img src='#{gif.gif.box}'/>",
             'data-placement' => 'left'}
            - if show_mini
              <img src="http://i.gifurl.com/H1EXl.gif_s.gif" width=25 height=25/>
            = gif.title
    %h2 top all-time
    %ul.biglist
      %li That's Racist
      %li Michael Jackson eating Popcorn
      %li some gif
    %h2
      top
      %img{:class => 'stache', :src => "#{asset_path 'moustache.png'}"}
      stashes
    %ul.biglist
      - @users.each do |user|
        %li
          #{link_to user.name, user}
          %span.label.success 532 gifs
      %li
        %a{:href=>'/'} Andrew Ber
        %span.label.notice newb
      %li
        %a{:href=>'/'} bobberson
        %span.label.success 5 origs
